.banner {
  background-image: url('space-odissey.png');
  width: 100%;
  height: 500px;
  opacity: .8;
  background-size: cover;

  h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 200px;
    text-shadow: 3px 3px black;
  }

  a {
    color: white;
  }

}
