.show-banner {
  background-image: url("space-ship.png");
  background-position: center;
  height: 400px;
  background-size: cover;

  h2 {
    color: white;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
  }
}
