.show-banner {
  background-image: url("drive-ryan.png");
  background-position: center;
  height: 400px;
  background-size: cover;

  h2 {
    color: white;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    text-shadow: 1px 1px 2px rgb(104, 103, 103);
  }
}
